.pokemons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Ensure 3 columns */
  gap: 1rem;
  padding: 0;
  justify-items: center; /* Center items within the grid cells */
}
.pokemon {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  width: 100%; /* Ensures cards are uniform */
  max-width: 320px; /* Optional: To control card size */
}
.pokemon:hover {

  background-color: #fff;
  color: #000;
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.pokemon .number {
  font-size: 0.8rem;
  opacity: 0.8;
  margin-bottom: 0.25rem;
}
.pokemon .name {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.pokemon .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.pokemon .detail .types {
  display: flex;
  gap: 0.25rem;
}
.pokemon .detail .type {
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.pokemon img {
  height: 100px;
  object-fit: contain;
  margin: 0.5rem auto;
}

.pagination {
  margin-top: 2rem;
}
.pagination button {
  background-color: #ff3d00;
  color: #ffffff;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.pagination button:hover {
  background-color: #ff6f00;
}
